doctype html
html
  head
    title MedNet
    link(rel='stylesheet', href='/style.css')
  body
    div(class='form-div')
      br
      form(method='post' action='/u/add-patient')
        
        label Patient ID (Finger print) :
        input(type='number' name='patient_finger_print')

        label Patient Name :
        input(type='text' name='patient_name')

        label Gender :
        select(name='patient_gender')
          option(value='select') Select
          option(value='male') Male
          option(value='female') Female
          option(value='other') Other   
        
        label Patient Address :
        input(type='text' name='patient_addr')
        
        label DOB :
        input(type='date' name='patient_dob') 
        
        label Type of sickness :
        select(name='patient_sickness')
          option(value='select') Select
          option(value='allergies') Allergies
          option(value='anxiety-disorders') Anxiety disorders 
          option(value='asthma') Asthma 
          option(value='blindness-low-vision') Blindness and low vision 
          option(value='deafness') Deafness 
          option(value='depression') Depression
          option(value='diabetes') Diabetes
          option(value='migraine') Migraine

        label Assigned Doctor :
        select(name='patient_assigned_doctor')
          option(value='select') Select
          each doctor in obj
            option(value=doctor.id) #{doctor.name} 
         
       
        input(type='submit')