doctype html
html
	head
		title MedNet
		link(rel='stylesheet', href='/style.css')
	body
		div(class='overlay')
		div(class='middle')
			h2(class='h2-title') Hospital Admin Dashboard
			div(class='btns')
				a(href='/u/add-staff') 
					button(class='btn-add-staff') Add Staff

				a(href='/u/add-doctor')
					button(class='btn-add-doctor') Add Doctor

			br
			a(href='/') 
				button(class='btn-add-staff btn-logout') Logout
