doctype html
html
	head
		title MedNet
		link(rel='stylesheet', href='/style.css')
	body
		
		a(href='/add-staff') 
			button(class='btn-add-staff') Add Staff

		a(href='/add-doctor')
			button(class='btn-add-doctor') Add Doctor
