doctype html
html
  head
    title MedNet
  body
    form(method='get' action='/addpatient')
      label Registration No :
      input(type='text' name='patient-name')
      
      label Hospital Name :
      input(type='text' name='patient-name')
      
      label Hospital Address :
      input(type='text' name='patient-addr')
      
      label Contact :
      input(type='number' name='patient-=contact')
      
      label Email :
      input(type='email' name='patient-email')
      
      label Password :
      input(type='password' name='patient-pass')
     
      input(type='submit')