doctype html
html
  head
    title MedNet
    link(rel='stylesheet', href='/style.css')
  body
    div(class='middle')
      div(class='btns')
          a(href='/u/add-patient/') 
            button(class='btn-login') Add Patient
          a(href='/u/patient/')
            button(class='btn-signup') View Patient Data
      