doctype html
html
  head
    title MedNet
    link(rel='stylesheet', href='/style.css')
  body
    form(method='get' action='/addpatient')
          
      label Patient Name :
      input(type='text' name='patient_name')

      label Gender :
      select
        option(value='select') Select
        option(value='male') Male
        option(value='female') Female
        option(value='other') Other   
      
      label Patient Address :
      input(type='text' name='patient_addr')
      
      label DOB :
      input(type='date' name='patient_dob') 
      
      label Type of sickness :
      select
        option(value='select') Select
        option(value='other') Other 

      label Assigned Doctor :
      select
        option(value='select') Select
        option(value='other') Other 
       
     
      input(type='submit')