doctype html
html
	head
	body
		form(method='post' action='/signup')
			input(type='number' name='hospital_reg_no')
			input(type='text' name='hospital_name')
			input(type='text' name='hospital_addr')
			input(type='email' name='hospital_email')
			input(type='password' name='hospital_pass')
			input(type='number' name='hospital_number')
			input(type='submit')