doctype html
html
	head
		title MedNet
		link(rel='stylesheet', href='/style.css')
	body(class="login-bg")

		a(href='/login') 
			button(class='btn-login') Login

		a(href='/signup')
			button(class='btn-signup') Sign Up	


