doctype html
html
	head
	body
		form(method='get' action='/signup')
			input(type='number' name='hospital-reg-no')
			input(type='text' name='hospital-name')
			input(type='text' name='hospital-addr')
			input(type='email' name='hospital-email')
			input(type='password' name='hospital-pass')
			input(type='number' name='hospital-number')
			input(type='submit')