doctype html
html
  head
    title MedNet
  body
    form(method='get' action='/')
      label Email :
      input(type='email' name='hospital_email')

      label Password :
      input(type='password' name='hospital_pass')

      input(type='submit')