doctype html
html
	head
		title MedNet
		link(rel='stylesheet', href='/style.css')
	body
		div(class='form-div')
			form(method='post' action='/login')
				label Email :
				input(type='email' placeholder='Email' name='email')

				label Password :
				input(type='password' placeholder='Password' name='password')

				input(type='submit')