doctype html
html
	head
		title MedNet
		link(rel='stylesheet', href='/style.css')
	body
		div(class='form-div')
			h1 Login
			form(method='get' action='/')
				label Email :
				input(type='email' placeholder='Email' name='hospital_email')

				label Password :
				input(type='password' placeholder='Password' name='hospital_pass')

				input(type='submit' value='Login')