doctype html
html
  head
    title MedNet
  body
    form(method='' action='')
      label Email :
      input(type='email' name='hospital-email')

      label Password :
      input(type='password' name='hospital-pass')

      input(type='submit')