doctype html
html
  head
    title MedNet
  body
    form(method='get' action='/signup')
      label Registration No :
      input(type='number' name='hospital_reg_no')
      
      label Hospital Name :
      input(type='text' name='hospital_name')
      
      label Hospital Address :
      input(type='text' name='hospital_addr')
      
      label Contact :
      input(type='number' name='hospital_contact')
      
      label Email :
      input(type='email' name='hospital_email')
      
      label Password :
      input(type='password' name='hospital_pass')
     
      input(type='submit')