/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-div {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 2rem 0 0.15rem 0;
}

.btn-login, .btn-signup , .btn-add-staff, .btn-add-doctor{
  width: 20%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.btn-login, .btn-signup{
  width: 30%;
}

input[type=submit] {
  width: 100%;
  margin-top: 2rem;
  font-size: 16px;
}



.btn-login, .btn-add-staff{

  background-color: #319219;
}

.btn-signup, .btn-add-doctor{
  margin-left:1rem;
  background-color: #316CFE;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0c0808;
    opacity: .6;
}

.bgimg{
  /* Background image */
  background-image: url('lbg.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
}

body{
    /* Background image */
  background-image: url('lbg.jpg');
  /* Full-screen */
  height: 100%;
  background-repeat: no-repeat; 
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;

}

/* Position text in the middle */
.middle {
  width:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle h1{
  font-family: 'Roboto', sans-serif;
  font-size: 4.25rem;
  letter-spacing: 0.5rem;
}

.btns a button{
  margin-top:5%;
  letter-spacing: 0.1rem;
}

form label{
  font-weight: 600;
}

.form-div h1{
  text-transform: uppercase;
  text-align: center;
  color: #4ba54e; 
}

