
input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.btn-login, .btn-signup , .btn-add-staff, .btn-add-doctor{
  width: 20%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-login, .btn-add-staff{

  background-color: #4CAF50;
}

.btn-signup, .btn-add-doctor{
  margin-left:1rem;
  background-color: #3396FF;
}